*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.header
{
    height: 70px;
    background-color:#29293A ;
    width: 100%;
    background-position:center;
    background-size: cover;
    position: relative;
}
nav
{
    display:flex;
    padding: 2% 6%;
    justify-content:space-between;
    align-items: center;


}

nav a
{
    text-decoration: none;
    color: white;
}
.nav-links
{
    flex: 1;
    text-align: right;
}
.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color:white;
    text-decoration: none;
    font-size: 12px;
  
}
.nav-links ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    background:#3E3EF5 ;
    display: block;
    margin: 0;
    transition: 0.5s;
}
.nav-links ul li:hover::after
{
   width: 100%;
}
.home
{
    background-image: url(../images/Moon\ Base.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;

}

.home_box 
{
    display: flex;
    justify-content: space-between;
} 

.text-box
{
  
    color: white;
    width: 60%;   
    margin-top: 80px; 
    margin-left: 40px;
    text-align: center;

}
.text-box h1
{
    font-size: 40px;

}
.name 
{
    color: #3E3EF5;
}
.text-box p
{
    font-size: 20px;


}
.button
{
     display: inline-block;
     text-decoration: none;
     border: 1px solid white;
     padding: 5px 10px;
     font-size: 16px;
     border-radius: 10px;
     background: transparent;
     position: relative;
     top: 10px;
     cursor: pointer;
     color: white;
     transition: 1s;
}
.button:hover
{
    border: 1px solid #3E3EF5;
    background: #3E3EF5;

}

.image_home
{
    height: 300px;
    width: 300px;
    position: relative;
    top: 100px;
    right: 20px;
    border-radius: 50%;
  

}

nav .fa
{
    display: none;
}
@media(max-width: 700px)
{
    .text-box h1
{
    font-size: 30px;

}
.nav-links ul li 
{
    display: block;
}
.nav-links
{
    position: fixed;
    background:#3E3EF5 ;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    z-index: 2;
    text-align: left;
}
nav .fa{
    display: block;
    color: white;
    font-size: 22px;
    margin: 10px;
    cursor: pointer;   
}
.nav-links ul
{
    padding: 30px;
}
}

 /* course section */

 .projects
 {
     width: 80%;
     margin: auto;
     text-align: center;
     padding-top: 100px;
 }
 h1
 {
     font-size: 36px;
     font-weight: 600;
 }

    /* fotter */

    .footer
    {
        width:100%;
        text-align: center;
        padding: 30px 0;


    }
    .footer h4{
        margin-bottom: 25px;
        margin-top: 20px;
        font-weight: 600;
    }
    .icons .fa
    {
      color: #3E3EF5;
      cursor: pointer;
      margin: 0 13px;
      padding: 18px 0;
    }
    .fa-heart-o 
    {
        color:#3E3EF5;
    }
    /* About us page */
    .Sub-header
    {
       height: 100px;
       background-color: #29293A;
       width: 100%;
    
       background-size: cover;
       background-position: center;
       text-align: center;
       color: #fff;


    }
    .Sub-header h1{
        margin-top: 100px;
    }